.svg {
  color: #c00606; }

text {
  color: white; }

.text_underline {
  border-bottom: 1px solid white; }

.button {
  background-color: transparent;
  outline: none;
  cursor: pointer; }

.button__icon_text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px; }
  .button__icon_text:hover .svg {
    fill: #fa00ff; }
  .button__icon_text:hover .text {
    color: #fa00ff;
    border-color: #fa00ff; }

.button__header {
  border: none;
  height: fit-content; }

.cookie__text, .btn_gray {
  font-size: 14px;
  font-family: Noto sans;
  color: white;
  weight: 400; }

.button, .footer_font18, .mission_right__info, .id_scanner .id_scanner__info .id_scanner__text, .tool .tool__text, .qr .qr__info .qr__text, .background3 .background3__text_arrow, .background3 .background3__text, .ordering__info .ordering__text, .form_header .form_header__text, .user_form__area,
.user_form__input, .user_form__button {
  font-size: 18px;
  font-family: Noto sans;
  color: white;
  weight: 500; }

.footer__logo, .info_col .info_col__info, .text_item1,
.text_item2,
.text_item3,
.text_item4 {
  font-size: 20px;
  font-family: Noto sans;
  color: white;
  weight: 500; }

.info_col .info_col__title {
  font-size: 64px;
  font-family: Montserrat;
  color: white;
  weight: 700; }

.footer__text {
  font-size: 35px;
  font-family: Montserrat;
  color: white;
  weight: 700; }

.card .card_info, .dwnl_app {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px; }

.card .card_link, .card .card_btn {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px; }

.mission_right__title, .id_scanner .id_scanner__info .id_scanner__title, .tool .tool__title, .qr .qr__info .qr__title, .background3 .background3__title, .ordering__info .ordering__title, .form_header .form_header__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 51px;
  color: white; }

html,
body {
  padding: 0;
  margin: 0;
  color: white; }

*,
*::after,
*::before {
  box-sizing: border-box; }

.container {
  width: 100%;
  height: 100%;
  max-width: 88%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative; }

.container_row {
  width: 100%;
  height: 100%;
  max-width: 88%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; }

.i_btn {
  border: 1.5px solid white;
  border-radius: 8px;
  background-color: transparent;
  padding: 0 6px;
  height: 51.3px; }

.logo {
  display: flex;
  gap: 8px;
  align-items: center; }

.header {
  width: 100%; }
  .header .header__inner {
    width: 100%;
    display: flex;
    gap: 108px;
    align-items: center; }

.footer,
.footer_form {
  margin-top: auto;
  display: flex;
  justify-content: space-between; }

.footer {
  align-items: center;
  padding: 16px 0; }

.footer_form {
  align-items: flex-start;
  padding-bottom: 16px; }

.footer__text {
  width: 50%; }

.footer__text_l,
.footer__text_r {
  display: flex;
  flex-direction: column;
  width: 50%;
  row-gap: 16px;
  width: fit-content; }

.footer__btn {
  display: flex;
  width: 50%;
  gap: 16px;
  justify-content: center; }

.page_100 {
  width: 100%;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
  position: relative; }

.page_140 {
  width: 100%;
  height: 140vh;
  background-color: #000;
  overflow: hidden;
  position: relative; }

.page_150 {
  width: 100%;
  height: 170vh;
  background-color: #000;
  overflow: hidden;
  position: relative; }

.page_200 {
  width: 100%;
  height: 200vh;
  background-color: #000;
  overflow: hidden;
  position: relative; }

.page_40 {
  width: 100%;
  height: 40vh;
  background-color: #000;
  overflow: hidden; }

.content {
  display: flex; }

.info_col {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  row-gap: 129px; }
  .info_col .info_col__title {
    height: 50%;
    display: flex;
    align-items: flex-end; }
  .info_col .info_col__info {
    height: 50%;
    display: flex;
    gap: 16px;
    align-items: flex-start; }
  .info_col .info_col__image {
    position: relative; }
  .info_col .info_col__blur {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(96, 92, 234, 0.5);
    filter: blur(50px); }
  .info_col .info_col__text {
    padding-top: 30px;
    padding-left: 20px; }

.info_image {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .info_image .info_image__blur {
    position: absolute;
    top: -20%;
    right: -10%;
    width: 90%;
    height: 95%;
    background: rgba(250, 0, 255, 0.2);
    filter: blur(125px);
    transform: rotate(-105.26deg); }

.info_image__image {
  width: 45%;
  object-fit: cover;
  min-width: 333px;
  min-height: 668px;
  z-index: 10; }

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 81px;
  padding-top: 61px; }

.card {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 21.3671px;
  width: 50%;
  height: 312px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .card .card_info {
    flex-direction: column;
    row-gap: 30px;
    width: 70%;
    display: flex;
    align-items: flex-start; }
  .card .card_link {
    width: fit-content;
    display: flex;
    align-items: flex-start;
    color: white; }
  .card .card_btn {
    width: fit-content;
    display: flex;
    align-items: flex-start;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    text-decoration: underline; }

.mission {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative; }

.mission_left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 50%;
  height: 100vh; }

.mission_right {
  position: relative;
  width: 50%;
  height: 100%;
  transition-property: transform, opacity;
  transition-duration: 2s;
  transition-timing-function: ease-in-out; }

.mission_left__blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0.2;
  filter: blur(118.009px);
  z-index: 1; }

.mission_left__image {
  width: 100%;
  height: 100%;
  min-width: 500px;
  position: absolute;
  z-index: 10;
  object-fit: contain;
  transform: translateX(0%) translateY(0%) rotateZ(0deg); }

.mission_left__content {
  position: relative;
  width: 100%;
  height: 50%;
  transform: translateX(-20%) translateY(0%) rotateZ(0deg);
  transition: transform 2s ease-in-out;
  z-index: 10; }

.mission_left__content_anim {
  transform: translateX(50%) translateY(0%) rotateZ(-90deg) scale(0.9, 0.9); }

.mission__right_blur {
  position: absolute;
  top: 0;
  right: 50%;
  width: 85px;
  height: 85px;
  background: #f101bf;
  opacity: 0.7;
  filter: blur(50px); }

.mission_right__title {
  width: 85%;
  max-width: 358px;
  z-index: 10; }

.mission_right__info {
  width: 85%;
  max-width: 315px; }

.mission_right__content {
  display: flex;
  width: 50%;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 0%; }

.mission_right__anim {
  opacity: 0;
  transform: translate3d(100%, 0, 0); }

.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90%;
  z-index: 0; }
  .background .background__gradient {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%); }
  .background .background__covered {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .background .background__block {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%; }
  .background .background__item {
    width: 50%;
    height: 100%;
    object-fit: cover; }
  .background .background__item_abs {
    position: absolute;
    top: 0;
    right: 10%;
    z-index: 100; }

.id_scanner {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 10; }
  .id_scanner .id_scanner__images {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58%;
    justify-content: space-between; }
  .id_scanner .id_scanner__info {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    width: 25%;
    row-gap: 23px; }

.tool {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative; }
  .tool .tool__blur {
    top: -30%;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
    filter: blur(125px);
    transform: rotate(5.78deg);
    opacity: 0.2;
    z-index: 0; }
  .tool .tool__info {
    position: relative;
    display: flex;
    width: 50%;
    height: fit-content;
    flex-direction: column;
    row-gap: 23px;
    top: 30%; }
  .tool .tool__title {
    max-width: 497px;
    z-index: 10; }
  .tool .tool__text {
    width: 80%;
    max-width: 395px;
    z-index: 10; }
  .tool .tool__container {
    position: relative;
    width: 50%;
    height: 100%; }
  .tool .tool__components {
    position: absolute;
    max-width: 700px;
    max-height: 550px;
    width: 700px;
    height: 550px;
    top: 50%;
    right: 0;
    transform: translate3d(0%, -50%, 0); }
  .tool .tool__trend,
  .tool .tool__trend2,
  .tool .tool__trends,
  .tool .tool__bar,
  .tool .tool__bar2,
  .tool .tool__indicator,
  .tool .tool__diagram {
    position: absolute; }
  .tool .tool__trend {
    top: 0%;
    right: 20%; }
  .tool .tool__diagram {
    left: 19%;
    top: 30%; }
  .tool .tool__bar2 {
    top: 30%;
    right: 10%; }
  .tool .tool__trends {
    top: 40%;
    left: 0%; }
  .tool .tool__trend2 {
    top: 49%;
    right: 35%;
    z-index: 1; }
  .tool .tool__bar {
    top: 69%;
    left: 26%; }
  .tool .tool__indicator {
    top: 100%;
    right: 0;
    transform: translateY(-100%); }

.qr {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: space-between;
  z-index: 10; }
  .qr .qr__info {
    transform: translateY(60vh);
    display: flex;
    flex-direction: column;
    width: 17%;
    height: fit-content;
    row-gap: 23px; }
  .qr .qr__images {
    display: flex;
    position: relative;
    width: 60%;
    justify-content: space-between; }
  .qr .qr__item1 {
    transform: translate3d(-70px, 25vh, 0); }
  .qr .qr__item2 {
    transform: translate3d(-100px, 65vh, 0); }

.block__btn {
  padding-top: 20px;
  display: flex;
  width: 100%;
  gap: 7%; }

.background2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70vh;
  z-index: 0; }
  .background2 .background2__gradient {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%); }
  .background2 .background2__covered {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; }
  .background2 .background2__block {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between; }
  .background2 .background2__item {
    width: 45%;
    height: 100%;
    object-fit: cover; }
  .background2 .background2__item_abs {
    position: absolute;
    top: 0;
    right: 10%;
    z-index: 100; }

.background3 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%; }
  .background3 .background3__img {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate3d(-50%, -70%, 0);
    width: 200%;
    height: 50%;
    object-fit: contain; }
  .background3 .background3__blur {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 1022px;
    height: 950px;
    border-radius: 50%;
    background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
    opacity: 0.15;
    filter: blur(155.784px); }
  .background3 .background3__content_img {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate3d(-50%, -80%, 0); }
  .background3 .background3__svg_arrow {
    position: absolute;
    top: 55%;
    left: 63%;
    transform: translate3d(-50%, -80%, 0); }
  .background3 .background3__text_arrow {
    position: absolute;
    top: 58%;
    left: 68%;
    transform: translate3d(-50%, -80%, 0); }
  .background3 .background3__info {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    width: 100%;
    max-width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.ordering__info {
  display: flex;
  width: 100%;
  height: 20%;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  justify-content: end; }
  .ordering__info .ordering__blur {
    position: absolute;
    bottom: -100%;
    right: -10%;
    width: 286.92px;
    height: 267.17px;
    background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
    opacity: 0.2;
    filter: blur(125px);
    transform: rotate(5.78deg); }

.ordering__img {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate3d(-50%, 0, 0); }

.text_item1,
.text_item2,
.text_item3,
.text_item4 {
  position: absolute;
  border: 1px solid white;
  background-color: #000000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 16px; }

.text_item1 {
  width: 266.78px;
  height: 98.81px;
  top: 31%;
  right: 35%; }

.text_item2 {
  width: 285px;
  height: 113px;
  top: 41%;
  left: 28%; }

.text_item3 {
  width: 185px;
  height: 91px;
  top: 60%;
  right: 28.5%; }

.text_item4 {
  width: 175.58px;
  height: 65.37px;
  top: 67%;
  left: 39%; }

.background4 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0; }
  .background4 .background4__notab {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 210px;
    line-height: 190px;
    color: transparent;
    -webkit-text-stroke: 2px #8b8b8b;
    position: absolute;
    right: -3%;
    z-index: 0; }
  .background4 .background4__gradient {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%); }

.notab__img {
  z-index: 100;
  margin: auto; }

.form_header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10; }
  .form_header .form_header__text {
    text-align: center; }

.user_form {
  padding-top: 82px;
  padding-bottom: 91px;
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 60px;
  align-items: center;
  z-index: 10; }

.user_form__inputs {
  display: flex;
  width: 70%;
  flex-direction: column;
  row-gap: 23px; }

.user_form__buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center; }

.user_form__area,
.user_form__input {
  outline: none;
  padding: 26px 23px;
  color: black;
  background: #ffffff;
  border: 1px solid #5c5c5c;
  border-radius: 10px;
  width: 100%; }

.user_form__area {
  height: 199px; }

.user_form__input {
  height: 83px; }

.error {
  border: 2px solid #ff0000; }

.user_form__button {
  outline: none;
  padding: 25px 167px;
  background: black;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer; }

.user_form_row_inputs {
  width: 100%;
  display: flex;
  gap: 24px; }

.dwnl_app {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  row-gap: 33px;
  padding-bottom: 150px;
  z-index: 10; }

.dwnl_app__btns {
  display: flex;
  width: fit-content;
  gap: 59px; }

.blur1 {
  position: absolute;
  top: 0%;
  left: 30%;
  width: 250px;
  height: 250px;
  background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
  opacity: 0.3;
  filter: blur(125px);
  transform: rotate(5.78deg);
  z-index: 1; }

.blur2 {
  position: absolute;
  top: 45%;
  right: 0%;
  width: 340px;
  height: 340px;
  background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
  opacity: 0.3;
  filter: blur(125px);
  transform: rotate(5.78deg);
  z-index: 1; }

.blur3 {
  position: absolute;
  bottom: -13%;
  left: -8%;
  width: 400px;
  height: 400px;
  background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
  opacity: 0.3;
  filter: blur(125px);
  transform: rotate(5.78deg);
  z-index: 1; }

.cookie {
  position: fixed;
  display: flex;
  width: 100%;
  height: 93px;
  bottom: 0%;
  left: 0;
  background: #212834;
  z-index: 1000;
  align-items: center;
  pointer-events: fill;
  transition-property: opacity, transform;
  transition-timing-function: ease-in;
  transition-duration: 1s; }
  .cookie.vis {
    pointer-events: none;
    opacity: 0.5;
    transform: translateY(100%); }

.btn_gray {
  width: 132px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border: 0.5px solid #ffffff;
  border-radius: 6px;
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
