.i_btn_text, .i_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.i_btn_text {
  font-size: 18px;
  font-family: Noto sans;
  color: white;
  weight: 500;
}

.footer .footer__text {
  font-size: 35px;
  font-family: Montserrat;
  color: white;
  weight: 700;
}

html,
body {
  padding: 0;
  margin: 0;
  color: white;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 88%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.i_btn_text {
  gap: 14px;
  background-color: transparent;
  outline: none;
  border: none;
  height: fit-content;
  cursor: pointer;
}
.i_btn_text .i_btn_text__svg {
  fill: white;
}
.i_btn_text .i_btn_text__text {
  color: white;
  border-bottom: 1px solid white;
}

.i_btn {
  border: 1.5px solid white;
  border-radius: 8px;
  background-color: transparent;
  padding: 0 6px;
  height: 51.3px;
}

.logo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.header {
  width: 100%;
}
.header .header__inner {
  width: 100%;
  display: flex;
  gap: 108px;
  align-items: center;
}

.footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer .footer__btn {
  display: flex;
  gap: 16px;
}

.page {
  width: 100%;
  height: 100vh;
  background-color: #000;
}
