$bgcolor: #000;
$color_font: rgb(255, 255, 255);
$color_hover: rgb(250, 0, 255);
// шаблоны анимации
%transition_hover {
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
%transition_mission {
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}
%transition_cookie {
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
}
// шаблоны шрифтов
%font_regular14 {
  font-size: 14px;
  font-family: Noto sans;
  color: $color_font;
  weight: 400;
}
%font_regular18 {
  font-size: 18px;
  font-family: Noto sans;
  color: $color_font;
  weight: 500;
}
%font_regular20 {
  font-size: 20px;
  font-family: Noto sans;
  color: $color_font;
  weight: 500;
}
%font_regular64 {
  font-size: 64px;
  font-family: Montserrat;
  color: $color_font;
  weight: 700;
}
%font_title35 {
  font-size: 35px;
  font-family: Montserrat;
  color: $color_font;
  weight: 700;
}
%font_regular30 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
}
%font_regular24 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}
%font_regular51 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 51px;
  color: $color_font;
}
//сброс стилей браузера
html,
body {
  padding: 0;
  margin: 0;
  color: white;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
// адаптивность экрана для шрифтов
// tablet
@media screen and (max-device-width: 900px) {
  .text__font18 {
    font-size: 16px;
  }
  .text__font18_noto {
    font-size: 16px;
  }
  .text__font20 {
    font-size: 18px;
  }
  .text__font35 {
    font-size: 30px;
  }
  .text__font51 {
    font-size: 35px;
  }
  .text__font64 {
    font-size: 35px;
  }
}
// mobile
@media screen and (max-device-width: 500px) {
  .text__font18 {
    font-size: 14px;
  }
  .text__font18_noto {
    font-size: 14px;
  }
  .text__font20 {
    font-size: 16px;
  }
  .text__font35 {
    font-size: 24px;
  }
  .text__font51 {
    font-size: 24px;
  }
  .text__font64 {
    font-size: 35px;
  }
}
// landing page
.page {
  width: 100%;
  background-color: $bgcolor;
  overflow: hidden;
  position: relative;
}
// ширина контента на странице
.container {
  width: 100%;
  max-width: 88%;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .container {
    max-width: 95%;
  }
}
// svg, text
.svg {
  fill: $color_font;
}
.svg_transition {
  transition-property: fill;
  @extend %transition_hover;
}
.svg__arrow {
  position: absolute;
  top: 55%;
  left: 63%;
  transform: translate3d(-50%, -80%, 0);
}
.text {
  color: $color_font;
}
.text_transition {
  transition-property: border-color, color;
  @extend %transition_hover;
}
.text_underline {
  border-bottom: 1px solid white;
}
.text__font18 {
  @extend %font_regular18;
  font-family: Avenir;
}
.text__font18_noto {
  @extend %font_regular18;
  font-family: Noto sans;
}
.text__font20 {
  @extend %font_regular20;
}
.text__font35 {
  @extend %font_title35;
}
.text__font51 {
  @extend %font_regular51;
}
.text__font64 {
  @extend %font_regular64;
}
// CSS Кнопки
.button {
  @extend %font_regular18;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.button__icon_text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.button__icon {
  border: 1.5px solid $color_font;
  border-radius: 8px;
  background-color: transparent;
  @extend %transition_hover;
}
.button__text {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  @extend %transition_hover;
}
.button__header {
  border: none;
  height: fit-content;
  &:hover {
    .svg {
      fill: $color_hover;
    }
    .text {
      color: $color_hover;
      border-color: $color_hover;
    }
  }
}
.button__icon_hover {
  transition-property: border-color;
  &:hover {
    border-color: $color_hover;
  }
}
.button__footer {
  height: 51.3px;
  padding: 0 11px;
}
.button__dwnl_app {
  height: 81.27px;
  padding: 0 20px;
}
.button__card {
  @extend %font_regular24;
  width: fit-content;
  text-decoration: underline;
  transition-property: color;
  &:hover {
    color: $color_hover;
  }
}
.button__cookie {
  width: 132px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border: 0.5px solid #ffffff;
  border-radius: 6px;
  font-size: 14px;
  transition-property: color, border-color;
  &:hover {
    color: $color_hover;
    border-color: $color_hover;
  }
}
.button__form {
  width: 398px;
  height: 80px;
  border: 0.5px solid #ffffff;
  border-radius: 10px;
  font-size: 24px;
  font-family: Montserrat;
  transition-property: color, border-color;
  &:hover {
    color: $color_hover;
    border-color: $color_hover;
  }
}
// ***********************************
// CSS Link
.link {
  display: flex;
  align-items: flex-start;
  width: fit-content;
  color: $color_font;
}
.link__card {
  @extend %font_regular24;
  @extend %transition_hover;
  transition-property: color;
  &:hover {
    color: $color_hover;
  }
}

// flex контейнеры - контент страницы
.flex_row {
  display: flex;
  position: relative;
}
// Footer
.flex__footer {
  margin-top: auto;
  align-items: center;
  justify-content: space-between;
}

.flex__footer_form {
  align-items: flex-start;
  padding-bottom: 85.85px;
}

.flex__tool {
  width: 100%;
  height: 100%;
}
.flex__bg_qr {
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
// flex столбец
.flex_col {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 350px;
}
.flex_col__text {
  row-gap: 16px;
  width: fit-content;
}
.flex_mission__right_content {
  width: 50%;
  position: absolute;
  top: 30%;
  left: 0%;
}
// Фильтр
.blur {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.blur__mission_left {
  background: #ffffff;
  opacity: 0.2;
  filter: blur(118.009px);
}
.blur__mission_right {
  right: 50%;
  width: 85px;
  height: 85px;
  background: #f101bf;
  opacity: 0.7;
  filter: blur(50px);
}
.blur__tool {
  top: -30%;
  background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
  filter: blur(125px);
  transform: rotate(5.78deg);
  opacity: 0.3;
}
.blur__qr {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 1022px;
  height: 950px;
  border-radius: 50%;
  background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
  opacity: 0.2;
  filter: blur(155.784px);
}
.blur__easier {
  top: 80%;
  right: -20%;
  width: 286.92px;
  height: 267.17px;
  background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
  opacity: 0.3;
  filter: blur(125px);
  transform: rotate(5.78deg);
}
.blur_form {
  background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
  opacity: 0.3;
  filter: blur(125px);
  transform: rotate(5.78deg);
}
.blur1 {
  top: 0%;
  left: 30%;
  width: 250px;
  height: 250px;
}
.blur2 {
  top: 45%;
  right: 0%;
  width: 340px;
  height: 340px;
}
.blur3 {
  position: absolute;
  bottom: -13%;
  left: -8%;
  width: 400px;
  height: 400px;
}
// background
.bg_page_abs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg__idscanner {
  height: 90%;
}
.bg__qr {
  height: 70vh;
}
.bg__notab {
  top: 47%;
  height: 38%;
}

// bg gradient
.gradient {
  z-index: 10;
  background: linear-gradient(
    179.83deg,
    #000000 -3.1%,
    rgba(0, 0, 0, 0) 56.76%,
    #000000 83.92%
  );
}
.gradient__qr {
  opacity: 0.9;
}
.gradient__notab_p8 {
  // opacity: 0.9;
  background: linear-gradient(
    360deg,
    #000000 6.8%,
    rgba(0, 0, 0, 0) 51.62%,
    #000000 97.38%
  );
}
// bg image
.image__covered {
  object-fit: cover;
}
.image__qr {
  width: 45%;
  height: 100%;
}
.image__notab {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate3d(-50%, -70%, 0);
  width: 100%;
  height: 50%;
  object-fit: contain;
}
.image__notab_phone {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate3d(-50%, -80%, 0);
}
// ======================= intro =======================
// header
.flex_row__header {
  width: 100%;
  gap: 108px;
  align-items: center;
  padding: 23px 0 18px 0;
}
.flex_row__logo {
  gap: 8px;
  align-items: center;
}
// footer
.flex__footer_intro {
  width: 100%;
  margin-bottom: 25px;
}
.flex__btns {
  width: 50%;
  justify-content: center;
  gap: 24px;
}
// content
.grid__intro {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 83px;
  position: relative;
}
// left
.intro_left {
  width: 100%;
  row-gap: 129px;
  z-index: 10;
}
.intro__title {
  padding-top: 125px;
}
.intro__info {
  align-items: flex-end;
  position: relative;
}
.info__svg {
}
.intro__text {
  position: relative;
  max-width: 380px;
  height: 81px;
  padding-left: 21px;
}
.blur__intro_text {
  top: -110%;
  right: 85%;
  width: 125px;
  height: 125px;
  background: rgba(96, 92, 234, 0.6);
  filter: blur(50px);
}
// right
.intro_right {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 10;
}
.image__intro {
  width: auto;
  object-fit: contain;
  margin: 0 auto;
}
.blur__intro_phone {
  top: 0%;
  right: -30%;
  width: 662.63px;
  height: 783.03px;
  background: rgba(250, 0, 255, 0.2);
  filter: blur(125px);
  transform: rotate(-105.26deg);
}
// adaptive tablet
@media screen and (max-width: 900px) {
  .info__svg {
    display: none;
  }
  .intro_left {
    row-gap: 24px;
  }
  .intro__text {
    padding-left: 0px;
  }
  .flex__footer_intro {
    flex-direction: column;
    row-gap: 34px;
  }
}
// adaptive mobile
@media screen and (max-width: 500px) {
  // header
  .flex_row__header {
    margin-top: 40px;
    gap: 0px;
    justify-content: space-between;
    padding: 0;
  }
  .logo__img {
    width: 51.73px;
    height: 52.69px;
  }
  .flex__btns {
    flex-direction: column;
    row-gap: 24px;
  }
  // content
  .grid__intro {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 65px;
    margin-bottom: 55px;
  }
  .intro_left {
    height: 323px;
    row-gap: 24px;
  }
  .intro__title{
    width: 207px;
    padding-top: 35px;
  }
  .intro__text {
    max-width: 240px;
    min-width: 200px;
    height: 88px;
  }
  .intro_right {
    width: auto;
    height: auto;
    margin: 0 auto;
    position: absolute;
    bottom: 0%;
    right: -14%;
  }
  .image__intro{
    width: 161px;
    height: 323px;
  }
  .blur__intro_phone {
    top: -30%;
    width: 363.95px;
    height: 430.08px;
  }
}
// ======================= 2 страница =======================
// карточка
.flex__cards {
  gap: 5%;
  padding-top: 61px;
}
.flex__card {
  @extend %font_regular30;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 21.3671px;
  width: 50%;
  height: 312px;
  justify-content: center;
  row-gap: 10%;
  padding: 0 10%;
}
.card_title {
}
// ======================= 3 страница =======================
// content
.flex__mission {
  width: 100%;
  height: 100%;
  position: relative;
}
.flex__mission_left {
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: 100vh;
}
.mission_right {
  position: relative;
  width: 50%;
  height: 100%;
  transition-property: transform, opacity;
  @extend %transition_mission;
}
.mission_right__anim {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.mission_left__content {
  position: relative;
  width: 100%;
  height: 50%;
  transform: translateX(-20%) translateY(0%) rotateZ(0deg);
  transition-property: transform;
  @extend %transition_mission;
  z-index: 10;
}
.mission_left__content_anim {
  transform: translateX(50%) translateY(0%) rotateZ(-90deg) scale(0.9, 0.9);
}
.mission_left__image {
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 500px;
  z-index: 10;
  object-fit: contain;
  transform: translateX(0%) translateY(0%) rotateZ(0deg);
}
.mission__right_block {
  width: 85%;
  z-index: 10;
  max-width: 358px;
}
// ======================= 4 страница =======================
.flex__id_scanner {
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 10;
}

.flex__id_scanner_images {
  align-items: center;
  width: 58%;
  justify-content: space-between;
}
.flex__id_scanner_info {
  margin: 100px 0;
  width: 25%;
  row-gap: 23px;
}

// ======================= 5 страница =======================
.flex__tool_info {
  width: 50%;
  height: fit-content;
  row-gap: 23px;
  top: 30%;
}
.text__tool_title {
  max-width: 497px;
  z-index: 10;
}
.text__tool_info {
  width: 80%;
  max-width: 395px;
  z-index: 10;
}
.tool__container {
  position: relative;
  width: 50%;
  height: 100%;
}
.tool__components {
  position: absolute;
  max-width: 700px;
  max-height: 550px;
  width: 700px;
  height: 550px;
  top: 50%;
  right: 0;
  transform: translate3d(0%, -50%, 0);
}
.tool__element {
  position: absolute;
}
.tool__trend {
  top: 0%;
  right: 20%;
}
.tool__diagram {
  left: 19%;
  top: 30%;
}
.tool__bar2 {
  top: 30%;
  right: 10%;
}
.tool__trends {
  top: 40%;
  left: 0%;
}
.tool__trend2 {
  top: 49%;
  right: 35%;
  z-index: 1;
}
.tool__bar {
  top: 69%;
  left: 26%;
}
.tool__indicator {
  top: 100%;
  right: 0;
  transform: translateY(-100%);
}
// ======================= 6 страница =======================
.img__qr_abs {
  position: absolute;
  top: 0;
  right: 10%;
  z-index: 100;
}
.flex__qr {
  width: 100%;
  height: 50%;
  justify-content: space-between;
  z-index: 10;
}
.flex__qr_info {
  transform: translateY(60vh);
  width: 17%;
  height: fit-content;
  row-gap: 23px;
}
.flex__qr_btns {
  padding-top: 20px;
  width: 100%;
  gap: 7%;
}
.flex__qr_images {
  width: 60%;
  justify-content: space-between;
}
.qr__item1 {
  transform: translate3d(-70px, 25vh, 0);
}
.qr__item2 {
  transform: translate3d(-100px, 65vh, 0);
}
.text__arrow {
  position: absolute;
  top: 59%;
  left: 68%;
  transform: translate3d(-50%, -80%, 0);
  @extend %font_regular18;
}
.flex__qr_footer {
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translate3d(-50%, 0%, 0);
  width: 100%;
  max-width: 88%;
  justify-content: space-between;
  align-items: center;
}

// ======================= 7 страница =======================
.flex__easier {
  width: 90%;
  align-items: flex-end;
  row-gap: 23px;
}
.img__easier {
  height: 100%;
  width: auto;
}
.container_img {
  position: absolute;
  width: auto;
  height: 85%;
  top: 15%;
  left: 50%;
  transform: translate3d(-50%, 0%, 0);
}
.flex__text_item {
  position: absolute;
  border: 1px solid white;
  background-color: #000000;
  border-radius: 10px;
  @extend %font_regular20;
  padding: 10px 16px;
}
.text_item1 {
  top: 20%;
  right: 10%;
}
.text_item2 {
  top: 34%;
  left: -5%;
}
.text_item3 {
  top: 60%;
  right: -5%;
}
.text_item4 {
  top: 70%;
  left: 21%;
}
// ======================= 8 страница =======================

.bg__text_notab {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 210px;
  line-height: 190px;
  color: transparent;
  -webkit-text-stroke: 2px #8b8b8b;
  position: absolute;
  right: -3%;
  z-index: 0;
}
.img__notab {
  z-index: 100;
  margin: auto;
}
// ======================= 9 страница =======================
.flex__form_header {
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 10;
  row-gap: 23px;
}
.text_center {
  text-align: center;
}
// форма анкеты
.flex__user_form {
  padding-top: 82px;
  padding-bottom: 91px;
  width: 100%;
  row-gap: 60px;
  align-items: center;
  z-index: 10;
}
.flex__user_form_inputs {
  width: 70%;
  row-gap: 23px;
}
.user_form__area,
.user_form__input {
  outline: none;
  padding: 26px 23px;
  @extend %font_regular18;
  color: black;
  background: #ffffff;
  border: 1px solid #5c5c5c;
  border-radius: 10px;
  width: 100%;
}
.user_form__area {
  height: 199px;
}
.user_form__input {
  height: 83px;
}
.error {
  border: 2px solid #ff0000;
}
.user_form__button {
  outline: none;
  padding: 25px 167px;
  background: black;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  @extend %font_regular18;
}
.user_form_row_inputs {
  width: 100%;
  display: flex;
  gap: 24px;
}
.flex__dwnl_app {
  width: 100%;
  align-items: center;
  justify-content: center;
  row-gap: 33px;
  padding-bottom: 150px;
  @extend %font_regular30;
  z-index: 10;
}
.flex__btns_app {
  justify-content: center;
  width: 100%;
  gap: 7%;
}

// ======================= cookie =======================
.flex_cookie {
  position: fixed;
  width: 100%;
  height: 93px;
  bottom: 0%;
  left: 0;
  background: #212834;
  z-index: 1000;
  align-items: center;
  pointer-events: fill;
  transition-property: opacity, transform;
  @extend %transition_cookie;
  &.vis {
    pointer-events: none;
    opacity: 0.5;
    transform: translateY(100%);
  }
}
.cookie__text {
  @extend %font_regular14;
}
