$bgcolor: #000;
$base_color: rgb(255, 255, 255);
%btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
%font_regular18 {
  font-size: 18px;
  font-family: Noto sans;
  color: $base_color;
  weight: 500;
}
%font_regular20 {
  font-size: 20px;
  font-family: Noto sans;
  color: $base_color;
  weight: 500;
}
%font_title64 {
  font-size: 64px;
  font-family: Montserrat;
  color: $base_color;
  weight: 700;
}
%font_title35 {
  font-size: 35px;
  font-family: Montserrat;
  color: $base_color;
  weight: 700;
}
%font_regular30 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
}
%font_regular24 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}
%font_regular51 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 51px;
  color: $base_color;
}
html,
body {
  padding: 0;
  margin: 0;
  color: white;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
// responsive-adaptive
.container {
  width: 100%;
  height: 100%;
  max-width: 88%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

// кнопка svg+text
.i_btn_text {
  @extend %btn;
  @extend %font_regular18;
  gap: 14px;
  background-color: transparent;
  outline: none;
  border: none;
  height: fit-content;
  cursor: pointer;

  .i_btn_text__svg {
    fill: white;
  }
  .i_btn_text__text {
    color: white;
    border-bottom: 1px solid white;
  }
}
// кнопка svg+border
.i_btn {
  @extend %btn;
  border: 1.5px solid $base_color;
  border-radius: 8px;
  background-color: transparent;
  padding: 0 6px;
  height: 51.3px;
  .i_btn__svg {
  }
}
// Лого
.logo {
  display: flex;
  gap: 8px;
  align-items: center;
}
// ======================= 1 страница =======================
// Заголовок header
.header {
  width: 100%;
  // background-color: blueviolet;
  .header__inner {
    width: 100%;
    display: flex;
    gap: 108px;
    align-items: center;
  }
}
// Footer
.footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  padding: 8px 0;
  // background-color: rgb(113, 231, 119);

  .footer__text {
    width: 50%;
    @extend %font_title35;
  }
  .footer__btn {
    display: flex;
    width: 50%;
    gap: 16px;
    justify-content: center;
  }
}
// страницы
.page_100 {
  width: 100%;
  height: 100vh;
  background-color: $bgcolor;
  overflow: hidden;
  position: relative;
}
.page_200 {
  width: 100%;
  height: 200vh;
  background-color: $bgcolor;
  overflow: hidden;
  position: relative;
}
.page_40 {
  width: 100%;
  height: 40vh;
  background-color: $bgcolor;
  overflow: hidden;
}

.content {
  display: flex;

  // background-color: gray;
}
.info_col {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  row-gap: 129px;

  .info_col__title {
    @extend %font_title64;
    height: 50%;
    display: flex;
    align-items: flex-end;
    // background-color: rgb(95, 13, 95);
  }
  .info_col__info {
    @extend %font_regular20;
    height: 50%;
    // background-color: rgb(13, 75, 54);
    display: flex;
    gap: 16px;
    align-items: flex-start;
  }
  .info_col__image {
    position: relative;
  }
  .info_col__blur {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(96, 92, 234, 0.5);
    filter: blur(50px);
  }
  .info_col__text {
    padding-top: 30px;
    padding-left: 20px;
    // width:65%;
  }
}
.info_image {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: rgb(220, 220, 221);
  .info_image__blur {
    position: absolute;
    top: -20%;
    right: -10%;
    width: 90%;
    height: 95%;
    background: rgba(250, 0, 255, 0.2);
    filter: blur(125px);
    transform: rotate(-105.26deg);
  }
}
.image {
  z-index: 10;
}
// ======================= 2 страница =======================

// карточка
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 81px;
  padding-top: 61px;
}
.card {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 21.3671px;
  width: 50%;
  height: 312px;
  display: flex;

  justify-content: center;
  align-items: center;
  .card_info {
    flex-direction: column;
    row-gap: 30px;
    width: 70%;
    @extend %font_regular30;
    display: flex;
    align-items: flex-start;
  }
  .card_link {
    width: fit-content;
    @extend %font_regular24;
    display: flex;
    align-items: flex-start;
    color: white;
  }
  .card_btn {
    width: fit-content;
    @extend %font_regular24;
    display: flex;
    align-items: flex-start;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    text-decoration: underline;
  }
}

// ======================= 3 страница =======================
// content
.mission {
  display: flex;
  gap: 10%;
  height: 100%;
}

.mission_left {
  position: relative;
  width: 60%;

  .mission_left__image {
    position: absolute;
    top: 0%;
    left: -15%;
    transform: rotate3d(0, 0, 1, 90deg);
  }
}

.mission_right {
  margin: auto 0;
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 23px;

  .mission_right__blur {
    position: absolute;
    top: 0;
    right: 50%;
    width: 85px;
    height: 85px;
    background: #f101bf;
    opacity: 0.7;
    filter: blur(50px);
  }
  .mission_right__title {
    width: 85%;
    @extend %font_regular51;
    z-index: 10;
  }
  .mission_right__info {
    width: 85%;
    @extend %font_regular18;
  }
}
// ======================= 4 страница =======================
.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90%;
  z-index: 0;
  .background__gradient {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      179.83deg,
      #000000 -3.1%,
      rgba(0, 0, 0, 0) 56.76%,
      #000000 83.92%
    );
  }

  .background__covered {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .background__block {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
  }
  .background__item {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  .background__item_abs {
    position: absolute;
    top: 0;
    right: 10%;
    z-index: 100;
  }
}

.id_scanner {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 10;
  .id_scanner__images {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58%;
    justify-content: space-between;
  }

  .id_scanner__info {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    width: 25%;
    row-gap: 23px;
    .id_scanner__title {
      @extend %font_regular51;
    }
    .id_scanner__text {
      @extend %font_regular18;
    }
  }
}
// ======================= 5 страница =======================
.tool {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;

  .tool__blur {
    top: -30%;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
    filter: blur(125px);
    transform: rotate(5.78deg);
    opacity: 0.2;
    z-index: 0;
  }
  .tool__info {
    position: relative;
    display: flex;
    width: 50%;
    height: fit-content;
    flex-direction: column;
    row-gap: 23px;
    top: 30%;
  }
  .tool__title {
    max-width: 497px;
    @extend %font_regular51;
    z-index: 10;
  }
  .tool__text {
    width: 80%;
    max-width: 395px;
    @extend %font_regular18;
    z-index: 10;
  }
  .tool__container {
    position: relative;
    width: 50%;
    height: 100%;
  }
  .tool__components {
    position: absolute;
    max-width: 700px;
    max-height: 550px;
    width: 700px;
    height: 550px;
    top: 50%;
    right: 0;
    transform: translate3d(0%, -50%, 0);
  }
  .tool__trend,
  .tool__trend2,
  .tool__trends,
  .tool__bar,
  .tool__bar2,
  .tool__indicator,
  .tool__diagram {
    position: absolute;
  }
  .tool__trend {
    top: 0%;
    right: 20%;
    // transform: translateX(-60%);
  }
  .tool__diagram {
    left: 19%;
    top: 30%;
  }
  .tool__bar2 {
    top: 30%;
    right: 10%;
  }
  .tool__trends {
    top: 40%;
    left: 0%;
  }
  .tool__trend2 {
    top: 49%;
    right: 35%;
    z-index: 1;
  }
  .tool__bar {
    top: 69%;
    left: 26%;
  }
  .tool__indicator {
    top: 100%;
    right: 0;
    transform: translateY(-100%);
  }
}
// ======================= 6 страница =======================
.qr {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: space-between;
  z-index: 10;

  .qr__info {
    transform: translateY(60vh);
    display: flex;
    flex-direction: column;
    width: 17%;
    height: fit-content;
    row-gap: 23px;
    .qr__title {
      @extend %font_regular51;
    }
    .qr__text {
      @extend %font_regular18;
    }
  }
  .qr__images {
    display: flex;
    position: relative;
    width: 60%;
    justify-content: space-between;
  }
  .qr__item1 {
    transform: translate3d(-70px, 25vh, 0);
  }
  .qr__item2 {
    transform: translate3d(-100px, 65vh, 0);
  }
}

.block__btn {
  padding-top: 20px;
  display: flex;
  width: 100%;
  gap: 7%;
}

.background2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70vh;
  z-index: 0;
  .background2__gradient {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: linear-gradient(
      179.83deg,
      #000000 -3.1%,
      rgba(0, 0, 0, 0) 56.76%,
      #000000 83.92%
    );
  }

  .background2__covered {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .background2__block {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    // background-color: #0066ff;
  }
  .background2__item {
    width: 45%;
    height: 100%;
    object-fit: cover;
  }
  .background2__item_abs {
    position: absolute;
    top: 0;
    right: 10%;
    z-index: 100;
  }
}

.background3 {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  width: 100%;
  height: 50%;
  // background-color: #0066ff;

  .background3__img {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate3d(-50%, -70%, 0);
    width: 200%;
    height: 50%;
    object-fit: contain;
    // z-index: 0;
  }

  .background3__blur {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 1022px;
    height: 950px;
    border-radius: 50%;
    background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
    opacity: 0.15;
    filter: blur(155.784px);
    // z-index: 10;
  }
  .background3__content_img {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate3d(-50%, -80%, 0);
    // z-index: 0;
  }
  .background3__svg_arrow {
    position: absolute;
    top: 55%;
    left: 63%;
    transform: translate3d(-50%, -80%, 0);
  }
  .background3__text_arrow {
    position: absolute;
    top: 58%;
    left: 68%;
    transform: translate3d(-50%, -80%, 0);
    @extend %font_regular18;
  }
  .background3__info {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    width: 100%;
    max-width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .background3__title {
    @extend %font_regular51;
  }
  .background3__text {
    @extend %font_regular18;
  }
}
// ======================= 7 страница =======================
.ordering__info {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  // background-color: #363636;

  .ordering__blur {
    position: absolute;
    bottom: -200%;
    right: -10%;
    width: 286.92px;
    height: 267.17px;
    background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
    opacity: 0.2;
    filter: blur(125px);
    transform: rotate(5.78deg);
  }
  .ordering__title {
    @extend %font_regular51;
  }
  .ordering__text {
    @extend %font_regular18;
  }
}
.ordering__img {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

.text_item1,
.text_item2,
.text_item3,
.text_item4 {
  position: absolute;
  border: 1px solid white;
  background-color: #000000;
  border-radius: 10px;
  @extend %font_regular20;
  display: flex;
  align-items: center;
  padding: 0 16px;
}
.text_item1 {
  width: 266.78px;
  height: 98.81px;
  top: 29%;
  right: 34%;
}
.text_item2 {
  width: 285px;
  height: 113px;
  top: 33.5%;
  left: 28%;
}
.text_item3 {
  width: 185px;
  height: 91px;
  top: 61%;
  right: 28.5%;
}
.text_item4 {
  width: 175.58px;
  height: 65.37px;
  top: 67.5%;
  left: 39%;
}
// ======================= 8 страница =======================
// ======================= 9 страница =======================
